.ration{
    background-color:grey;
}
.nona{
    background-color:greenyellow;
}
#baby{
    height : 350px;
    width : 150px;
    background-color: brown;
}
.box{
    height : 300px;
    width : 150px;
    margin : 150px;
    background-color: greenyellow;
}
#tree{
    background-color: bisque;
}